body {
    background-image: url('../../images/banners/abstract-black-and-orange-layer-geometric-background-vector.jpg');
    /* background: linear-gradient(to left, #d5b094, #000); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}

#main-login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#main-login h1 {
    color: #fff;
    text-shadow: 0 0 5px #ff6f00;
    font-weight: 800;
    font-size: 36px;
}

.caixa {
    margin-top: 5em;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.caixa img {
    width: 150px;
}

/* .social-icons .fa-google {
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 35px;
    background-color: #000;
} */

.caixa p,
.submit p {
    margin: 10px;
    color: #f5e2e2;
    font-size: 15px;
    font-weight: 600;
}

.submit a {
    text-decoration: none;
    color: #d5b094;
    font-weight: 500;
}

.social-icons .fa-google {
    color: #fff;
}

.email input,
.password input {
    border-radius: 15px;
    border: none;
    width: 300px;
    height: 40px;
    padding-left:15px;
    background-color: #333;
    color: #fff;
}

.btn-login-google {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.password input {
    margin-top: 10px;
}

.reset p {
    text-align: right;
    color: #f5e2e2;
    font-size: 13px;
    font-weight: 600;
}

.reset a {
    text-decoration: none;
    color: #d5b094;
    font-weight: 500;
}



.submit input {
    cursor: pointer;
    width: 180px;
    height: 40px;
    border-radius: 9px;
    border: none;
    background-color: #ff6f00;
    color: #fff;
    margin-top: px;
    font-size: 19px;
    font-weight: 700;
}

#main-login input::placeholder {
    color: #d5b094;
}

.social-icons .fa-google:hover {
    color: #c74545;
    background-color: #fff;
}

.submit input:hover {
    background-color: #e6863c;
}

#main-login a:hover {
    color: #3a3333;
}
